header{
    .bar{
        background-color: bisque;
        border-radius: 100px;
        padding: 20px;
        margin-top: 40px;
        margin-left:15px;
        margin-right: 15px;
        .logo{
            // img{
            //     width:60%;
            // }
        }
        .list{
                ul{
                    text-transform: uppercase;
                    li{
                        margin-right: 20px;
                        font-weight: 600;
                        white-space: nowrap;
                        i{
                            margin-left: 5px;
                        }
                    }
                }
        }
        .contact{
            white-space: nowrap;
            i{
                color: #acd25f;
            }
        }
    }
}
.landing{
    width: 100%;
    height: 100vh;
    background-image: url("img/swiper-slide-1.jpg");
    background-size: cover;
    background-position: center;
}

body{   
    font-family: "Roboto", sans-serif;
}